
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;0,400;0,500;0,700;0,800;1,800;1,900&display=swap');

/* ...............  browser reset style ......................... */

body{
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ...............  navbar......................... */

header{
    background-color: #373F51;
    padding: 20px 0;
}
.signIn-btn{
   border-radius: 27.5px;
}
.play-btn{
    width: 175px;
    height: 45px;
    border-radius: 27.5px;
    text-transform: uppercase;
    border: 2px solid #A2D132;
    color: #A2D132;
}
.logo{
    width: 143px;
    height: 59px;
}

.menu-icon{
    width: 23.46px;
    height: 26.58px;
}


/* ...............  banner-styling ......................... */


.banner-heading{
   
        line-height: 6rem;
        font-weight: 900;
        font-size: 90px;
        text-transform: uppercase;
        color: #FFFFFF;

}

.banner-text{
    width: 549px; 
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
color: #FFFFFF;
margin: 1rem 0;
}